<div class="blog-header">
  <div class="container">
	 <h1 class="blog-title">My Blog</h1>
	 <p class="lead blog-description">A place to talk about coding, tech and anything else.</p>
	 <span><%= link_to 'Create a New Blog', new_blog_path, class: 'btn btn-success' if logged_in?(:site_admin) %>
	 </span>

	 <span>
	 	<%= link_to "Topics", topics_path, class: 'btn btn-info' %>
	 </span>
  </div>
</div>