<div class="col-sm-3 offset-sm-1 blog-sidebar">
  <div class="sidebar-module sidebar-module-inset">
    <h4>About</h4>
    <p>Here you will find blog posts about subjects that interest me. I am a Family Man, a Military Veteran, a Hunter and Wildlife Conservationist and now an Entry Level Developer.</p>

    <p> Feel free to browse through my blog posts and enjoy!!!</p>
  </div>
    
    <div class="sidebar-module">
      <h4>Social Media</h4>
      <ol class="list-unstyled social-links">
        <li><a href='#'><%=fa_icon "github"%></li>       
        <li><a href='#'><%=fa_icon "facebook"%></li>       
        <li><a href='#'><%=fa_icon "instagram"%></li>       
        <li><a href='#'><%=fa_icon "twitter"%></li>       
      </ol>
    </div>
</div>