<div class="blog-header">
  <div class="container">
	 <h1 class="blog-title">My Blog</h1>
	 <p class="lead blog-description">A place to talk about coding, tech and anything else.</p>
	 <%= link_to 'Create New Blog', new_blog_path if logged_in?(:site_admin) %>
  </div>
</div>