<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">My Portfolio</h1>
    <p class="lead text-muted"> In this portfolio I've listed some of the skills I've obtained and projects I've completed in my time as a developer. </p>
    <p>
      <%= link_to 'About Me', about_me_path, class: 'btn btn-primary' %>
      <%= link_to 'Blogs', blogs_path, class: 'btn btn-secondary' %>
    </p>
  </div>
</section>