<h1>About Me</h1>

<hr>

<div class="row">
  <div class="col-md-4">
  	<%= image_tag "Profile.jpeg", width: 300, alt: "Profile Image" %>
  </div>

  <div class="col-md-8">
	  <p> After serving in the United States Army for 8 years, I knew I needed to further my education, skill and experience. With no development skills other than pre-formatted layouts and social media marketing, I took the plunge and went to school to become a developer; both front end and back end. Here I am today, a Family Man, a Veteran and a Developer. My experience continues to grow each day as well as my learning capabilities. </p>

	<p>"I am not afraid of an army of lions led by a sheep; I am afraid of an army of sheep led by a lion."</p>	
  </div>
</div>
