<div class="app-card-container">
  <div class="card">
	  <h1>About Me</h1>

		<hr>

	<div class="row">
		  <div class="col-md-4">
		  	<%= image_tag "https://s3-us-west-1.amazonaws.com/tech-portfolio-bucket/uploads/portfolio/profile.jpeg", width: 300, alt: "Profile Image", class: 'profile-img' %>
		  </div>

	  <div class="col-md-8">
			  <p> After serving in the United States Army for 8 years, I knew I needed to further my education, skill and experience. With no development skills other than pre-formatted layouts and social media marketing, I took the plunge and went to school to become a full stack developer. Here I am today, a Family Man, a Veteran and a Developer. My experience continues to grow each day as well as my learning capabilities. </p>

			<p>"I am not afraid of an army of lions led by a sheep; I am afraid of an army of sheep led by a lion."</p>	

			<p>
	           <button
	             class="btn btn-primary"
	             type="button"
	             data-toggle="collapse"
	             data-target="#jobHistory"
	             aria-expanded="false"
	             aria-controler="jobHistory"
	           >
	             Job History
	           </button>
	 
	           <button
	             class="btn btn-primary"
	             type="button"
	             data-toggle="collapse"
	             data-target="#education"
	             aria-expanded="false"
	             aria-controler="education"
	           >
	             Education
	           </button>
	         </p>
	 
	         <p>
	           <div class="collapse" id="jobHistory">
	             <div class="card card-block">
	               Latest Projects<a href="https://rockymountainrednecks.com" target="_blank">  Rocky Mountain Rednecks
	               <a href="https://elkvalleyoutfitting.com" target="_blank"> Elk Valley Outfitters
	               <a href="https://jbuttersphotography.net" target="_blank"> J Butters Photography
	             </div>
	             <div>
	               
	             </div>
	           </div>
	 
	           <div class="collapse" id="education">
	             <div class="card card-block">
	               <a href="https://www.codecademy.com/login" target="_blank"> Codecademy online courses
	               <hr>
	               <a href="http://bottega.tech/" target="_blank"> Bottega Coding Bootcamp
	               <hr>
	               <a href="https://www.stevenshenager.edu/" target="_blank"> Stevens-Henager College
	             </div>	         
	            
	           </div>
	         </p>

	  </div>
	</div>	
  </div>
</div>


