<h1>Want To Work Together?</h1>

<hr>
	<div>
	  <p><%= number_to_phone "801-420-3327" %></p>
	</div>

<hr>
	<div>
	  <p><a href="mailto:steven.clift17@gmail.com?subject=PortfolioContact" "email me">Email Me</a> </p>
	</div>



